/*Hoja de estilo del layout, Daniel Flores López, UO282894*/

header { grid-area: header; }
nav { grid-area: nav; }
main { grid-area: main; }
footer { grid-area: footer; }
picture {grid-area: img;}
p {grid-area: text;}
section > h2 {grid-area: heading;}


/*Especificidad: 001*/
header, nav, main, footer, aside {
  padding: 1em;     
}

/*Especificidad: 001*/
body {
  display: grid;
  grid-template-areas: 
  'header header header header header header'
  'nav main main main main main'
  'footer footer footer footer footer footer';
}
/*Especificidad: 001*/
article {
  /*display: grid;
  grid-template-areas: 
  'heading  heading heading heading heading heading'
  'img img img text text text';*/
  display:flex;
  flex-wrap:wrap; 
}

/*Especificidad: 001*/
header {
  display: grid;
  grid-template-areas: 
  'text text text text text img';
}

